@* tektutorialhub.com user registragion login using cookie authentication asp net core *@
@page
@model User

@{
    ViewData["Title"] = "Register Confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your account with email @Model.Email is registered sucessfully.
</p>